---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://www.garygermer.com/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
{%- for sale in collections.estateSales %}
  <url>
    <loc>https://www.garygermer.com{{ sale.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
{%- endfor %}
{%- for post in collections.blogPosts %}
  <url>
    <loc>https://www.garygermer.com{{ post.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.4</priority>
  </url>
{%- endfor %}
</urlset>
