---
layout: layouts/estate-sale.njk
permalink: /northeast-portland-estate-sales/collector-and-decorator-dream-estate-sale/
slug: collector-and-decorator-dream-estate-sale
saleName: "A collector and decorator dream sale"
title: "A collector and decorator dream sale — Portland | Gary Germer & Associates"
description: "A huge home and second home in Helvatia ! This is possibly THE LARGEST SALE we have ever produced.  Inuit art, Murano glass by Daniel Rosin, Lalique and Tiffany.  Furniture by Stickley, Henrendon, including 2 leather Chesterfield sofas, Country mission bedrooms, Chippendale dining room,  rooms full..."
ogTitle: "A collector and decorator dream sale — Portland"
ogDescription: "A huge home and second home in Helvatia ! This is possibly THE LARGEST SALE we have ever produced.  Inuit art, Murano glass by Daniel Rosin, Lalique and Tiffany.  Furniture by Stickley, Henrendon,..."
ogImage: /assets/images/estate-sales/collector-and-decorator-dream-estate-sale/collector-and-decorator-dream-estate-sale-01-900.webp
eyebrow: Estate Liquidation Sale
heroHeadingHtml: "A collector and decorator dream<br>sale"
heroLead: "A huge home and second home in Helvatia ! This is possibly THE LARGEST SALE we have ever produced.  Inuit art, Murano glass by Daniel Rosin, Lalique and Tiffany.  Furniture by Stickley, Henrendon, including 2 leather Chesterfield sofas,..."
neighborhood: Portland, Oregon
status: auto
dates:
  - date: "2026-10-15"
    label: Thursday, October 15
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "5:00 PM"
    closes24: "17:00"
  - date: "2026-10-18"
    label: Sunday, October 18
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "5:00 PM"
    closes24: "17:00"
source:
  id: 2466834
  url: https://estatesales.org/estate-sales/or/hillsboro/97124/a-collector-and-decorator-dream-2466834
heroImage:
  src: /assets/images/estate-sales/collector-and-decorator-dream-estate-sale/collector-and-decorator-dream-estate-sale-01-900.webp
  srcset900: /assets/images/estate-sales/collector-and-decorator-dream-estate-sale/collector-and-decorator-dream-estate-sale-01-900.webp
  srcsetFull: /assets/images/estate-sales/collector-and-decorator-dream-estate-sale/collector-and-decorator-dream-estate-sale-01-1400.webp
  width: 900
  height: 1200
  alt: "Photo from A collector and decorator dream sale"
about:
  showFull: true
  heading: "A collector and decorator dream sale"
  paragraphs:
    - "A huge home and second home in Helvatia ! This is possibly THE LARGEST SALE we have ever produced.&nbsp;&nbsp;Inuit art, Murano glass by Daniel Rosin, Lalique and Tiffany.&nbsp; Furniture by Stickley, Henrendon, including 2 leather Chesterfield sofas, Country mission bedrooms, Chippendale dining room,&nbsp; rooms full of Kitchen cooking items, serving items as well as China, Most still in box.&nbsp; So much Christmas we had to take it out of the 6000 sq. ft home and made a Christmas Chalet out doors,&nbsp; Rooms full of tools, most brand new,&nbsp; Mountains of vintage clothing, most with original tags.&nbsp; &nbsp;fine art paintings,&nbsp; &nbsp;bronze sculptures and probably the nicest grand piano i have ever had to offer,.&nbsp; Mark your calendars for October 15 - 18. 4 days!!&nbsp; extended hours.&nbsp;&nbsp; If you need or like something here, we have multiples.&nbsp; &nbsp;And a second houseful as well!!!&nbsp; &nbsp;Lots of pictures to come but here is a teaser!"
gallery:
  - base: collector-and-decorator-dream-estate-sale-01
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-02
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-03
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-04
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-05
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
  - base: collector-and-decorator-dream-estate-sale-06
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
  - base: collector-and-decorator-dream-estate-sale-07
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
  - base: collector-and-decorator-dream-estate-sale-08
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-09
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
  - base: collector-and-decorator-dream-estate-sale-10
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-11
    alt: "Photo from A collector and decorator dream sale"
    width: 900
    height: 1200
  - base: collector-and-decorator-dream-estate-sale-12
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
  - base: collector-and-decorator-dream-estate-sale-13
    alt: "Photo from A collector and decorator dream sale"
    width: 1200
    height: 900
---
