---
layout: layouts/estate-sale.njk
permalink: /northeast-portland-estate-sales/epic-record-estate-collection-part-2-estate-sale/
slug: epic-record-estate-collection-part-2-estate-sale
saleName: "The EPIC Record Estate Collection - Part 2"
title: "The EPIC Record Estate Collection - Part 2 — Eliot, Portland | Gary Germer & Associates"
description: "Get ready for the 2nd half of this epic record collection that belonged to a former music producer. This collection was so big we had to split it up, and now we are ready to unveil the other half (larger half) featuring some big name recording artists on vinyl records, 45's, and other music and..."
ogTitle: "The EPIC Record Estate Collection - Part 2 — Eliot, Portland"
ogDescription: "Get ready for the 2nd half of this epic record collection that belonged to a former music producer. This collection was so big we had to split it up, and now we are ready to unveil the other half..."
ogImage: /assets/images/estate-sales/epic-record-estate-collection-part-2-estate-sale/epic-record-estate-collection-part-2-estate-sale-01-900.webp
eyebrow: Concluded Estate Sale
heroHeadingHtml: "The EPIC Record Estate Collection - Part 2"
heroLead: "Get ready for the 2nd half of this epic record collection that belonged to a former music producer. This collection was so big we had to split it up, and now we are ready to unveil the other half (larger half) featuring some big name recording artists on vinyl records, 45's, and other music and entertainment memorabilia. We have thousands of records to choose from including very rare albums, horror movie collectibles, props, posters and prints, musical instruments, fine art, antiques, furniture, and so much more. The 2nd half is so massive even, we will be releasing more from this collection every weekend until February from Thursday to Saturday.   Featured Musical Artists: The Rolling Stones The Beatles The Doors Elvis Presley David Bowie Bob Dylan Jimi Hendrix The Clash Bob Marley"
neighborhood: Eliot, Portland, Oregon
status: auto
addressPostalCode: "97227"
dates:
  - date: "2024-01-04"
    label: Thursday, January 4
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-01-05"
    label: Friday, January 5
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-01-06"
    label: Saturday, January 6
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
source:
  id: 2269293
  url: https://estatesales.org/estate-sales/or/portland/97227/the-epic-record-estate-collection-2269293
heroImage:
  src: /assets/images/estate-sales/epic-record-estate-collection-part-2-estate-sale/epic-record-estate-collection-part-2-estate-sale-01-900.webp
  srcset900: /assets/images/estate-sales/epic-record-estate-collection-part-2-estate-sale/epic-record-estate-collection-part-2-estate-sale-01-900.webp
  srcsetFull: /assets/images/estate-sales/epic-record-estate-collection-part-2-estate-sale/epic-record-estate-collection-part-2-estate-sale-01-1400.webp
  width: 600
  height: 800
  alt: "Photo from The EPIC Record Estate Collection - Part 2"
about:
  heading: "The EPIC Record Estate Collection - Part 2"
  paragraphs:
    - "Get ready for the 2nd half of this epic record collection that belonged to a former music producer. This collection was so big we had to split it up, and now we are ready to unveil the other half (larger half) featuring some big name recording artists on vinyl records, 45's, and other music and entertainment memorabilia. We have thousands of records to choose from including very rare albums, horror movie collectibles, props, posters and prints, musical instruments, fine art, antiques, furniture, and so much more. The 2nd half is so massive even, we will be releasing more from this collection every weekend until February&nbsp;from Thursday to Saturday.&nbsp;&nbsp;"
    - "Featured Musical Artists:<br>The Rolling Stones<br>The Beatles<br>The Doors<br>Elvis Presley<br>David Bowie<br>Bob Dylan<br>Jimi Hendrix<br>The Clash<br>Bob Marley"
gallery:
  - base: epic-record-estate-collection-part-2-estate-sale-01
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-02
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 533
  - base: epic-record-estate-collection-part-2-estate-sale-03
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 773
  - base: epic-record-estate-collection-part-2-estate-sale-04
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-05
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-06
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-07
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-08
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-09
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-10
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-11
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-12
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-13
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-14
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-15
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-16
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-17
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-18
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-19
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-20
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-21
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-22
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-23
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-24
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-25
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-26
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 600
    height: 800
  - base: epic-record-estate-collection-part-2-estate-sale-27
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
  - base: epic-record-estate-collection-part-2-estate-sale-28
    alt: "Photo from The EPIC Record Estate Collection - Part 2"
    width: 800
    height: 600
---
