---
layout: layouts/estate-sale.njk
permalink: /northeast-portland-estate-sales/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale/
slug: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale
saleName: "The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
title: "The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2 — Eliot, Portland | Gary Germer & Associates"
description: "Get ready for the second half of our epic \"In Tents\" warehouse clearance sale in the stunning Laurelhurst neighborhood! We had a lot of focus on rugs, glassware, and art/sculptures last week. This sale has plenty more of your favorite things from furniture, decor, and art. Explore all the treasures..."
ogTitle: "The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2 — Eliot, Portland"
ogDescription: "Get ready for the second half of our epic \"In Tents\" warehouse clearance sale in the stunning Laurelhurst neighborhood! We had a lot of focus on rugs, glassware, and art/sculptures last week. This..."
ogImage: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-01-900.webp
eyebrow: Concluded Estate Sale
heroHeadingHtml: "The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
heroLead: "Get ready for the second half of our epic \"In Tents\" warehouse clearance sale in the stunning Laurelhurst neighborhood! We had a lot of focus on rugs, glassware, and art/sculptures last week. This sale has plenty more of your favorite..."
neighborhood: Eliot, Portland, Oregon
status: auto
addressPostalCode: "97232"
dates:
  - date: "2024-07-11"
    label: Thursday, July 11
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-07-12"
    label: Friday, July 12
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-07-13"
    label: Saturday, July 13
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
source:
  id: 2325255
  url: https://estatesales.org/estate-sales/or/portland/97232/the-intents-estate-warehouse-popup-2325255
heroImage:
  src: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-01-900.webp
  srcset900: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-01-900.webp
  srcsetFull: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale/in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-01-1400.webp
  width: 600
  height: 800
  alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
about:
  showFull: true
  heading: "The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
  paragraphs:
    - "Get ready for the second half of our epic \"In Tents\" warehouse clearance sale in the stunning Laurelhurst neighborhood! We had a lot of focus on rugs, glassware, and art/sculptures last week. This sale has plenty more of your favorite things from furniture, decor, and art. Explore all the treasures from various estates too small and too far away to host, so we brought them all under one roof... or rather TENTS! There's lots to be had at great bargain prices. Fine art and cultural pieces. Midcentury modern furniture. All kinds of drinkwares and dining pieces from china, dishes, & flatware. Pewter and silver pieces. Costume jewelry. Lots and lots of books. A massive collection of collectible vintage toys and models. And so much more to come as we unbox all the different estate collections."
    - "Follow us on&nbsp;<a rel=\"nofollow\" data-cke-saved-href=\"https://www.facebook.com/GaryGermer\" href=\"https://www.facebook.com/GaryGermer\" target=\"_blank\">Facebook</a>,&nbsp;<a rel=\"nofollow\" data-cke-saved-href=\"https://www.tiktok.com/@garygermer\" href=\"https://www.tiktok.com/@garygermer\" target=\"_blank\">TikTok</a>, &&nbsp;<a rel=\"nofollow\" data-cke-saved-href=\"https://www.instagram.com/garysvault_garygermer/\" href=\"https://www.instagram.com/garysvault_garygermer/\" target=\"_blank\">Instagram</a>&nbsp;for previews and teasers for this event."
gallery:
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-01
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-02
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-03
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-04
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-05
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-06
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-07
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-08
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-09
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-10
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-11
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-12
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-13
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-14
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-15
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-16
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-17
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-18
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-19
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-20
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-21
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-22
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-23
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-24
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-25
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-26
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 451
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-27
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-28
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 760
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-29
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-sale-part-2-estate-sale-30
    alt: "Photo from The \"In-Tents\" Estate Warehouse Pop-Up Sale - Part 2"
    width: 800
    height: 600
---
