---
layout: layouts/estate-sale.njk
permalink: /northeast-portland-estate-sales/in-tents-estate-warehouse-pop-up-estate-sale/
slug: in-tents-estate-warehouse-pop-up-estate-sale
saleName: "The \"In Tents\" Estate Warehouse Pop-Up Sale"
title: "The \"In Tents\" Estate Warehouse Pop-Up Sale — Eliot, Portland | Gary Germer & Associates"
description: "It'e been a busy year for Gary Germer, and now it's time for his annual \"IN TENTS\" estate warehouse pop-up sale! He has so many  estates to unload and will be combining them all for an epic 2 weekend pop-up sale at a client's home. This will be the same as last year where we had all items for sale..."
ogTitle: "The \"In Tents\" Estate Warehouse Pop-Up Sale — Eliot, Portland"
ogDescription: "It'e been a busy year for Gary Germer, and now it's time for his annual \"IN TENTS\" estate warehouse pop-up sale! He has so many  estates to unload and will be combining them all for an epic 2 weekend..."
ogImage: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-estate-sale/in-tents-estate-warehouse-pop-up-estate-sale-01-900.webp
eyebrow: Concluded Estate Sale
heroHeadingHtml: "The \"In Tents\" Estate Warehouse Pop-Up<br>Sale"
heroLead: "It'e been a busy year for Gary Germer, and now it's time for his annual \"IN TENTS\" estate warehouse pop-up sale! He has so many  estates to unload and will be combining them all for an epic 2 weekend pop-up sale at a client's home. This will be the same as last year where we had all items for sale outside in tents. There's an abundance of fun things we've accumulated from smaller accounts and out of town estates from fine art to collectible finds. China and glassware, plus great art glass pieces. Of course there will be all kinds of decor, thingamabobs, and tchotchkes, to cultural and Pan-Asian pieces. There will be all kinds of sizes of oriental rugs, from tiny runners to large room. Different styles of furniture, including mid-century wood masterpieces. Neon lights and signage. Vintage clothing. Classic bicycles. Luggage and bags. Plus so much more! SAVE THE DATE: Part 2 Opens July 5th"
neighborhood: Eliot, Portland, Oregon
status: auto
addressPostalCode: "97232"
dates:
  - date: "2024-06-06"
    label: Thursday, June 6
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-06-07"
    label: Friday, June 7
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2024-06-08"
    label: Saturday, June 8
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
source:
  id: 2319191
  url: https://estatesales.org/estate-sales/or/portland/97232/the-in-tents-estate-warehouse-2319191
heroImage:
  src: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-estate-sale/in-tents-estate-warehouse-pop-up-estate-sale-01-900.webp
  srcset900: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-estate-sale/in-tents-estate-warehouse-pop-up-estate-sale-01-900.webp
  srcsetFull: /assets/images/estate-sales/in-tents-estate-warehouse-pop-up-estate-sale/in-tents-estate-warehouse-pop-up-estate-sale-01-1400.webp
  width: 600
  height: 800
  alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
about:
  heading: "The \"In Tents\" Estate Warehouse Pop-Up Sale"
  paragraphs:
    - "It'e been a busy year for Gary Germer, and now it's time for his annual \"IN TENTS\" estate warehouse pop-up sale! He has so many&nbsp; estates to unload and will be combining them all for an epic 2 weekend pop-up sale at a client's home. This will be the same as last year where we had all items for sale outside in tents. There's an abundance of&nbsp;fun things we've accumulated from smaller accounts and out of town estates from fine art to collectible finds. China and glassware, plus great art glass pieces. Of course there will be all kinds of decor, thingamabobs, and tchotchkes, to cultural and Pan-Asian pieces. There will be all kinds of sizes of oriental rugs, from tiny runners to large room. Different styles of furniture, including mid-century wood masterpieces. Neon lights and signage. Vintage clothing.&nbsp;Classic bicycles. Luggage and bags. Plus so much more!"
    - "SAVE THE DATE: Part 2 Opens July 5th"
gallery:
  - base: in-tents-estate-warehouse-pop-up-estate-sale-01
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-02
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-03
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-04
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-05
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-06
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-07
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-08
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-09
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-10
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-11
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-12
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-13
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-14
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-15
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-16
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-17
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-18
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-19
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-20
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-21
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-22
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-23
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-24
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-25
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-26
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-27
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-28
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 600
    height: 800
  - base: in-tents-estate-warehouse-pop-up-estate-sale-29
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
  - base: in-tents-estate-warehouse-pop-up-estate-sale-30
    alt: "Photo from The \"In Tents\" Estate Warehouse Pop-Up Sale"
    width: 800
    height: 600
---
