---
layout: layouts/estate-sale.njk
permalink: /southwest-portland-estate-sales/modern-art-heaven-estate-sale/
slug: modern-art-heaven-estate-sale
saleName: "Modern Art Heaven Estate Sale"
title: "Modern Art Heaven Estate Sale — Raleigh Hills, Portland | Gary Germer & Associates"
description: "Modern Art HEAVEN Estate Sale"
ogTitle: "Modern Art Heaven Estate Sale — Raleigh Hills, Portland"
ogDescription: "Modern Art HEAVEN Estate Sale"
ogImage: /assets/images/estate-sales/modern-art-heaven-estate-sale/modern-art-heaven-estate-sale-01-900.webp
eyebrow: Concluded Estate Sale
heroHeadingHtml: "Modern Art Heaven Estate<br>Sale"
heroLead: "Modern Art HEAVEN Estate Sale"
neighborhood: Raleigh Hills, Portland, Oregon
status: auto
addressPostalCode: "97225"
dates:
  - date: "2026-05-14"
    label: Thursday, May 14
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2026-05-15"
    label: Friday, May 15
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2026-05-16"
    label: Saturday, May 16
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
source:
  id: 2439977
  url: https://estatesales.org/estate-sales/or/portland/97225/modern-art-heaven-estate-sale-2439977
heroImage:
  src: /assets/images/estate-sales/modern-art-heaven-estate-sale/modern-art-heaven-estate-sale-01-900.webp
  srcset900: /assets/images/estate-sales/modern-art-heaven-estate-sale/modern-art-heaven-estate-sale-01-900.webp
  srcsetFull: /assets/images/estate-sales/modern-art-heaven-estate-sale/modern-art-heaven-estate-sale-01-1400.webp
  width: 900
  height: 1200
  alt: "Photo from Modern Art Heaven Estate Sale"
about:
  showFull: true
  heading: "Modern Art Heaven Estate Sale"
  paragraphs:
    - "Modern&nbsp;Art&nbsp;HEAVEN&nbsp;Estate&nbsp;Sale"
    - "THIS&nbsp;Thursday&nbsp;14TH-&nbsp;Saturday&nbsp;16TH&nbsp;10am-4pm!"
    - "Modern&nbsp;Sculpture,&nbsp;Paintings,&nbsp;Designer&nbsp;Furniture,&nbsp;Artisan&nbsp;Pottery,&nbsp;Art&nbsp;Books,&nbsp;Dining/Entertaining&nbsp;Supplies&nbsp;&&nbsp;MORE!"
    - "This&nbsp;SALE&nbsp;is&nbsp;a&nbsp;MODERN&nbsp;ART&nbsp;COLLECTOR'S&nbsp;DREAM!"
    - "Paintings&nbsp;by:"
    - "Gregory&nbsp;Grennon,&nbsp;&nbsp;Jay&nbsp;Backstrand,&nbsp;&nbsp;Carl&nbsp;Morris&nbsp;,&nbsp;Rene&nbsp;Rickenbaugh,&nbsp;&nbsp;Westley&nbsp;Wehr,&nbsp;&nbsp;Charles&nbsp;Heaney"
    - "Photography&nbsp;by:"
    - "Minor&nbsp;White"
    - "Pottery&nbsp;by:"
    - "Jindra&nbsp;Vikova,&nbsp;&nbsp;Pat&nbsp;Horsleys,&nbsp;&nbsp;Kathy&nbsp;Ertman,&nbsp;&nbsp;Howard&nbsp;Kottler,&nbsp;&nbsp;Philip&nbsp;Mayberry,&nbsp;&nbsp;Laura&nbsp;Anderson,&nbsp;&nbsp;Geoffrey&nbsp;Pagen,&nbsp;&nbsp;Frank&nbsp;Boyden,&nbsp;&nbsp;Patti&nbsp;Warashina,&nbsp;&nbsp;PK&nbsp;Hoffman"
    - "Glass&nbsp;by:"
    - "Alvar&nbsp;Aalto,&nbsp;&nbsp;Tiffany&nbsp;&&nbsp;Co,&nbsp;&nbsp;Rock&nbsp;Creek"
    - "Furniture&nbsp;by:"
    - "Roche&nbsp;Bobois,&nbsp;&nbsp;Frank&nbsp;Gehry,&nbsp;&nbsp;Conan&nbsp;Ball,&nbsp;&nbsp;Noguchi&nbsp;"
    - "-A&nbsp;library&nbsp;of&nbsp;art&nbsp;books"
    - "-High-end&nbsp;stemware"
    - "-Entertaining&nbsp;tableware&nbsp;w/&nbsp;tons&nbsp;of&nbsp;dishes&nbsp;&&nbsp;glassware"
    - "-Kitchen&nbsp;wares&nbsp;&&nbsp;utensils"
    - "-Linens"
    - "-Boxes&nbsp;of&nbsp;glass&nbsp;votives&nbsp;and&nbsp;candles"
    - "-High-end&nbsp;home&nbsp;decor"
    - "-Enough&nbsp;entertaining&nbsp;supplies&nbsp;to&nbsp;start&nbsp;a&nbsp;catering&nbsp;business!"
    - "-&&nbsp;More!"
    - "This&nbsp;is&nbsp;a&nbsp;GORGEOUS&nbsp;MID&nbsp;CENTURY&nbsp;MODERN&nbsp;HOME&nbsp;with&nbsp;an&nbsp;incredibly&nbsp;impressive&nbsp;array&nbsp;of&nbsp;artwork&nbsp;&&nbsp;furniture!"
    - "Come&nbsp;see&nbsp;this&nbsp;POP-UP&nbsp;GALLERY&nbsp;that's&nbsp;open&nbsp;THIS WEEKEND&nbsp;ONLY!"
    - "<a rel=\"nofollow\" href=\"https://www.instagram.com/reel/DYQaXNBPGfS/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==\">https://www.instagram.com/reel...</a>"
gallery:
  - base: modern-art-heaven-estate-sale-01
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-02
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-03
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-04
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-05
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-06
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-07
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-08
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-09
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-10
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-11
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-12
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-13
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-14
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-15
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-16
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-17
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-18
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-19
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-20
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-21
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-22
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-23
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-24
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-25
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-26
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-27
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-28
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-29
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
  - base: modern-art-heaven-estate-sale-30
    alt: "Photo from Modern Art Heaven Estate Sale"
    width: 900
    height: 1200
---
