---
layout: layouts/estate-sale.njk
permalink: /northwest-portland-estate-sales/nob-hill/
slug: portland-nob-hill-estate-sale
saleName: Nob Hill Estate Sale
title: "Nob Hill Estate Sale — Nob Hill, Portland | Gary Germer & Associates"
description: "This is a small but very fun little sale. Lots of original work by Portland artists: Karen Esler, Bennett Norrbo, George Johansen, Betty Dodson, Christine Tarpey, Karen Kessler, P.S. Greene, Jani Hoberg as well as Sister Corita, V. Jones and Daniel Weismhel. Plus a large collection of La Crueset ..."
ogTitle: Nob Hill Estate Sale
ogDescription: "This is a small but very fun little sale. Lots of original work by Portland artists: Karen Esler, Bennett Norrbo, George Johansen, Betty Dodson, Christine Tarpey, Karen Kessler, P.S. Greene, Jani H..."
ogImage: /assets/images/estate-sales/portland-nob-hill-estate-sale/portland-nob-hill-estate-sale-hero.jpg
eyebrow: Concluded Estate Sale
heroHeadingHtml: "Nob Hill<br>Estate Sale"
heroLead: 'This is a small but very fun little sale. Lots of original work by Portland artists: Karen Esler, Bennett Norrbo, George Johansen, Betty Dodson, Christine Tarpey, Karen Kessler, P.S. Greene, Jani Hoberg as well as Sister Corita, V. Jones and Daniel Weismhel. Plus a large collection of La Crueset cookware, some native American art, flow blue china set, weaving loom, MCM desk and cabinet, and a lot of good household stuff.'
neighborhood: Nob Hill, Portland, Oregon
status: auto
dates:
  - date: "2021-03-19"
    label: Friday, March 19
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
  - date: "2021-03-20"
    label: Saturday, March 20
    opens: "10:00 AM"
    opens24: "10:00"
    closes: "4:00 PM"
    closes24: "16:00"
heroImage:
  src: /assets/images/estate-sales/portland-nob-hill-estate-sale/portland-nob-hill-estate-sale-hero.jpg
  srcset900: /assets/images/estate-sales/portland-nob-hill-estate-sale/portland-nob-hill-estate-sale-hero-900.webp
  srcsetFull: /assets/images/estate-sales/portland-nob-hill-estate-sale/portland-nob-hill-estate-sale-hero.webp
  width: 600
  height: 799
  alt: "Photo from Nob Hill Estate Sale"
about:
  heading: "Nob Hill Estate Sale"
  paragraphs:
    - "This is a small but very fun little sale. Lots of original work by Portland artists: Karen Esler, Bennett Norrbo, George Johansen, Betty Dodson, Christine Tarpey, Karen Kessler, P.S. Greene, Jani Hoberg as well as Sister Corita, V. Jones and Daniel Weismhel. Plus a large collection of La Crueset cookware, some native American art, flow blue china set, weaving loom, MCM desk and cabinet, and a lot of good household stuff. Please note, this is less than 1000 square feet chockfull, so we can only let in about 6 or 7 people at a time. There just isn't more room. So be patient and respectful of our neighbors. We will give out numbers starting at 9 am, and will keep your place inline all day if you want a number and then go get breakfast or lunch or cocktails. (no judgement here)."
gallery:
  - base: portland-nob-hill-estate-sale-01
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 799
  - base: portland-nob-hill-estate-sale-02
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 600
  - base: portland-nob-hill-estate-sale-03
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 538
  - base: portland-nob-hill-estate-sale-04
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 799
  - base: portland-nob-hill-estate-sale-05
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 449
  - base: portland-nob-hill-estate-sale-06
    alt: "Photo from Nob Hill Estate Sale"
    width: 600
    height: 799
---
